<h1>All Bands</h1>

<ul>
  <% @bands.each do |band| %>
    <li><%= link_to band.name, band_path(band)%></li>
  <% end %>
</ul>

<form action="/bands/search" method="get">
  <label for="query">Search Bands</label>
  <input type="text" name="query">

  <input type="submit" value="Search">
</form>

<br />
<%= link_to "Submit a New Band", new_band_path %>